.company-sidebar {
  top: 0;
  left: 0;
  width: 15%;
  background: #f4f4f5;
  padding-top: 20px;
  color: black;
  z-index: 1000;
  border-right: 1px solid rgba(17, 24, 39, 0.2);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.company-sidebar__brand {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: black;
  border-bottom: 1px solid rgba(17, 24, 39, 0.2);
}

.company-sidebar__nav-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-grow: 1;
}

.company-sidebar__nav-links li {

  transition: background 0.3s ease;
}

.company-sidebar__nav-links li a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  padding: 12px 12px;
}

.company-sidebar__nav-links li:hover,
.company-sidebar__nav-links li.active {
  font-weight: 700;
  background: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid rgb(15 23 42 / 0.15);
  cursor: pointer;
}

.company-sidebar__logout-link {
  padding: 20px;
  border-top: 1px solid rgba(17, 24, 39, 0.2);
  margin-top: auto;
}

.company-sidebar__logout-link button {
  background: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid rgb(15 23 42 / 0.15);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 12px 20px;
  text-align: left;
}

.company-sidebar__logout-link button:hover {
  background-color: #34495e;
  border-left: 4px solid #e74c3c;
  color: #e74c3c;
}

/* Dropdown Styles */
.company-sidebar__settings-dropdown {
  position: relative;
  cursor: pointer;
}

.company-sidebar__settings-toggle {

width: 100%;
  color: black;
    text-decoration: none;
    display: flex
;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    padding: 12px 12px;
    border: none;
    background: none;
}

.company-sidebar__dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  border: 1px solid #ddd;
  min-width: 180px;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.company-sidebar__dropdown-menu li {
  padding: 10px 15px;
  white-space: nowrap;
}

.company-sidebar__dropdown-menu li:hover {
  background-color: #f0f0f0;
}


.company-sidebar__dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}






.company-sidebar.collapsed {
  width: 70px;
  transition: width 0.3s ease;
      padding: 0 0px 10px 10px;
}

.company-sidebar.collapsed .company-sidebar__nav-links a span,
.company-sidebar.collapsed .company-sidebar__brand,
.company-sidebar.collapsed .company-sidebar__logout-link span
 {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

.company-sidebar.collapsed .company-sidebar__dropdown-menu{

  top: 0;
  opacity: 1;
  visibility: visible;
  width: auto;
  height: auto;
}

.company-sidebar.collapsed .company-sidebar__logout-link button {
  justify-content: center;
  padding: 12px;
  gap: 0;
  font-size: 18px;
}


.company-sidebar.collapsed .company-sidebar__logout-link  {
  padding: 0;
  border-top: none;
}

.company-sidebar.collapsed .company-sidebar__logout button {
  background: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid rgb(15 23 42 / 0.15);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 9px 12px;
  text-align: left;
}

